USE [master]
GO
/****** Object:  Database [PolyTest_Database]    Script Date: 3/31/2025 3:03:46 AM ******/
CREATE DATABASE [PolyTest_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PolyTest_Database', FILENAME = N'/var/opt/mssql/data/PolyTest_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PolyTest_Database_log', FILENAME = N'/var/opt/mssql/data/PolyTest_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyTest_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyTest_Database]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[MaDe] [varchar](50) NOT NULL,
	[MaNguoiDung] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DanhSachThi] [nvarchar](max) NULL,
	[ViTriFileDe] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DETHI] PRIMARY KEY CLUSTERED 
(
	[MaDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaThi](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaThiSinh] [varchar](50) NOT NULL,
	[MaDe] [varchar](50) NOT NULL,
	[Diem] [float] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[DaHoanThanh] [bit] NULL,
 CONSTRAINT [PK__KETQUA__603FFF99B6751D10] PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__NGUOIDUN__603F51067C977F8B] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[MaThiSinh] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK__THISINH__6023720E6DB536DF] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DeThi] ([MaDe], [MaNguoiDung], [MatKhau], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DanhSachThi], [ViTriFileDe]) VALUES (N'DT001', N'ND001', N'pass1', CAST(N'2025-03-14T00:00:00.000' AS DateTime), CAST(N'2025-03-29T23:00:00.000' AS DateTime), 1, N'[{"MaThiSinh":"TS001"},{"MaThiSinh":"TS003"}]', N'ExamPapers/exam_DT001.xlsx')
INSERT [dbo].[DeThi] ([MaDe], [MaNguoiDung], [MatKhau], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DanhSachThi], [ViTriFileDe]) VALUES (N'DT002', N'ND002', N'gg', CAST(N'2025-03-28T00:00:00.000' AS DateTime), CAST(N'2025-03-29T00:00:00.000' AS DateTime), 1, N'[{"MaThiSinh":"TS001"},{"MaThiSinh":"TS003"}]', N'ExamPapers/exam_DT002.xlsx')
GO
SET IDENTITY_INSERT [dbo].[KetQuaThi] ON 

INSERT [dbo].[KetQuaThi] ([MaKetQua], [MaThiSinh], [MaDe], [Diem], [ThoiGianBatDau], [ThoiGianKetThuc], [DaHoanThanh]) VALUES (42, N'TS001', N'DT001', 3, CAST(N'2025-03-29T13:37:55.093' AS DateTime), CAST(N'2025-03-29T13:39:40.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KetQuaThi] OFF
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [VaiTro]) VALUES (N'ND001', N'Vũ Thiên Trường', N'truongcute@gmail.com', N'$2a$11$xUJl/jRitY3wwTCPP9BVXeZCLGZaeiAhdkv8E8LJ4cHtK4ULR1Tdy', N'Admin')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [VaiTro]) VALUES (N'ND002', N'Vũ Văn Thành', N'thanhcute@gmail.com', N'$2a$11$1G6gv64lLjHHU2MuEufDLuGd.axDI1XBNWUNdvx2STfUFfUxSSATy', N'GiangVien')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [VaiTro]) VALUES (N'ND003', N'Cao Đặng Thành Đạt', N'thanhdatcaodang@gmail.com', N'$2a$11$RVj59z9EDbsUOHIizaEOqe/0D41s1E/mM5kK55xNwcX3.8xzc54my', N'GiangVien')
GO
INSERT [dbo].[ThiSinh] ([MaThiSinh], [HoTen], [Email], [MatKhau], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (N'TS001', N'Nguyễn Văn G', N'vanthanh3027@gmail.com', N'$2a$11$apIvXyyJZQ1Gz8/RACql7eF77qviTPDAIXPLp2Ts0E.qgcYP1ufQu', CAST(N'2000-05-12' AS Date), N'0987654321', 1)
INSERT [dbo].[ThiSinh] ([MaThiSinh], [HoTen], [Email], [MatKhau], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (N'TS002', N'Lê Thị H', N'thisinh2@example.com', N'$2a$11$w1CPoa8p8rnP4RZ6W8mZU.3ILtTohgU9wtNmcOwrYFCNabb63BalS', CAST(N'1999-08-08' AS Date), N'0912345678', 0)
INSERT [dbo].[ThiSinh] ([MaThiSinh], [HoTen], [Email], [MatKhau], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (N'TS003', N'Bùi Văn I', N'thisinh3@example.com', N'789ghi', CAST(N'2001-11-30' AS Date), N'0976543210', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__THISINH__161CF724694400F8]    Script Date: 3/31/2025 3:03:46 AM ******/
ALTER TABLE [dbo].[ThiSinh] ADD  CONSTRAINT [UQ__THISINH__161CF724694400F8] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__THISINH__A7FD94DB4E6836E9]    Script Date: 3/31/2025 3:03:46 AM ******/
ALTER TABLE [dbo].[ThiSinh] ADD  CONSTRAINT [UQ__THISINH__A7FD94DB4E6836E9] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KetQuaThi] ADD  CONSTRAINT [DF__KETQUA__NGAYTHI__403A8C7D]  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_NguoiDung]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [FK__KETQUA__MATS__4222D4EF] FOREIGN KEY([MaThiSinh])
REFERENCES [dbo].[ThiSinh] ([MaThiSinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [FK__KETQUA__MATS__4222D4EF]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaThi_DeThi] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeThi] ([MaDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [FK_KetQuaThi_DeThi]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [CK__KETQUA__DIEM__4316F928] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [CK__KETQUA__DIEM__4316F928]
GO
/****** Object:  StoredProcedure [dbo].[sp_BangDiem]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BangDiem](@MaDe VARCHAR(50))  
AS BEGIN  
    SELECT MaKetQua, MaThiSinh, MaDe, Diem, ThoiGianBatDau, ThoiGianKetThuc
    FROM KetQuaThi  
    WHERE MaDe = @MaDe  
    ORDER BY Diem DESC  
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachDeThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachDeThi](@MaNguoiDung VARCHAR(50))  
AS BEGIN  
    SELECT MaDe, MaNguoiDung, MatKhau, ThoiGianBatDau, ThoiGianKetThuc, TrangThai, DanhSachThi, ViTriFileDe
    FROM DeThi  
    WHERE MaNguoiDung = @MaNguoiDung  
    ORDER BY ThoiGianBatDau DESC  
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNguoiDung]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachNguoiDung](@VaiTro NVARCHAR(10))  
AS BEGIN  
    SELECT MaNguoiDung, HoTen, Email, MatKhau, VaiTro
    FROM NguoiDung  
    WHERE VaiTro = @VaiTro  
    ORDER BY HoTen  
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachThiSinh]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachThiSinh](@TrangThai INT)  
AS BEGIN  
    SELECT MaThiSinh, HoTen, Email, MatKhau, NgaySinh, SoDienThoai, TrangThai
    FROM ThiSinh  
    WHERE TrangThai = @TrangThai  
    ORDER BY HoTen  
END  
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDeThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho DeThi
CREATE PROCEDURE [dbo].[sp_DeleteDeThi]
    @MaDe VARCHAR(50)
AS
BEGIN
    DELETE FROM [dbo].[DeThi]
		WHERE MaDe = @MaDe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKetQuaThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho KetQuaThi
CREATE PROCEDURE [dbo].[sp_DeleteKetQuaThi]
    @MaKetQua INT
AS
BEGIN
    DELETE FROM [dbo].[KetQuaThi]
    WHERE MaKetQua = @MaKetQua;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteNguoiDung]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_DeleteNguoiDung]
    @MaNguoiDung VARCHAR(50)
AS
BEGIN
DELETE FROM [dbo].[DeThi]
		WHERE MaNguoiDung = @MaNguoiDung;
    DELETE FROM [dbo].[NguoiDung]
		WHERE MaNguoiDung = @MaNguoiDung;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteThiSinh]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_DeleteThiSinh]
    @MaThiSinh VARCHAR(50)
AS
BEGIN
    DELETE FROM [dbo].[ThiSinh]
    WHERE MaThiSinh = @MaThiSinh;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDeThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục thêm (INSERT) cho DeThi
CREATE PROCEDURE [dbo].[sp_InsertDeThi]
    @MaDe VARCHAR(50),
    @MaNguoiDung VARCHAR(50),
    @MatKhau VARCHAR(255),
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @TrangThai INT,
    @DanhSachThi NVARCHAR(MAX),
    @ViTriFileDe NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO [dbo].[DeThi] (MaDe, MaNguoiDung, MatKhau, ThoiGianBatDau, ThoiGianKetThuc, TrangThai, DanhSachThi, ViTriFileDe)
    VALUES (@MaDe, @MaNguoiDung, @MatKhau, @ThoiGianBatDau, @ThoiGianKetThuc, @TrangThai, @DanhSachThi, @ViTriFileDe);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertKetQuaThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục thêm (INSERT) cho DeThi
CREATE PROCEDURE [dbo].[sp_InsertKetQuaThi]
    @MaThiSinh VARCHAR(50),
	@MaDe VARCHAR(50),
    @Diem FLOAT,
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @DaHoanThanh bit
AS
BEGIN
    INSERT INTO [dbo].KetQuaThi (MaThiSinh, MaDe, Diem, ThoiGianBatDau, ThoiGianKetThuc, DaHoanThanh)
    VALUES (@MaThiSinh, @MaDe, @Diem, @ThoiGianBatDau, @ThoiGianKetThuc, @DaHoanThanh);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNguoiDung]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục thêm (INSERT) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_InsertNguoiDung]
    @MaNguoiDung VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @VaiTro NVARCHAR(10)
AS
BEGIN
    INSERT INTO [dbo].[NguoiDung] (MaNguoiDung, HoTen, Email, MatKhau, VaiTro)
    VALUES (@MaNguoiDung, @HoTen, @Email, @MatKhau, @VaiTro);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertThiSinh]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục thêm (INSERT) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_InsertThiSinh]
    @MaThiSinh VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @NgaySinh DATE,
    @SoDienThoai VARCHAR(15),
    @TrangThai INT
AS
BEGIN
    INSERT INTO [dbo].[ThiSinh] (MaThiSinh, HoTen, Email, MatKhau, NgaySinh, SoDienThoai, TrangThai)
    VALUES (@MaThiSinh, @HoTen, @Email, @MatKhau, @NgaySinh, @SoDienThoai, @TrangThai);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDeThi]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho DeThi
CREATE PROCEDURE [dbo].[sp_UpdateDeThi]
    @MaDe VARCHAR(50),
    @MaNguoiDung VARCHAR(50),
    @MatKhau VARCHAR(255),
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @TrangThai INT,
    @DanhSachThi NVARCHAR(MAX),
    @ViTriFileDe NVARCHAR(MAX)
AS
BEGIN
    UPDATE [dbo].[DeThi]
    SET 
        MaNguoiDung = @MaNguoiDung,
        MatKhau = @MatKhau,
        ThoiGianBatDau = @ThoiGianBatDau,
        ThoiGianKetThuc = @ThoiGianKetThuc,
        TrangThai = @TrangThai,
        DanhSachThi = @DanhSachThi,
        ViTriFileDe = @ViTriFileDe
    WHERE MaDe = @MaDe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateNguoiDung]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_UpdateNguoiDung]
    @MaNguoiDung VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @VaiTro NVARCHAR(10)
AS
BEGIN
    UPDATE [dbo].[NguoiDung]
    SET 
        HoTen = @HoTen,
        Email = @Email,
        MatKhau = @MatKhau,
        VaiTro = @VaiTro
    WHERE MaNguoiDung = @MaNguoiDung;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateThiSinh]    Script Date: 3/31/2025 3:03:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_UpdateThiSinh]
    @MaThiSinh VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @NgaySinh DATE,
    @SoDienThoai VARCHAR(15),
    @TrangThai INT
AS
BEGIN
    UPDATE [dbo].[ThiSinh]
    SET 
        HoTen = @HoTen,
        Email = @Email,
        MatKhau = @MatKhau,
        NgaySinh = @NgaySinh,
        SoDienThoai = @SoDienThoai,
        TrangThai = @TrangThai
    WHERE MaThiSinh = @MaThiSinh;
END
GO
USE [master]
GO
