USE [master]
GO
/****** Object:  Database [PolyTest_Database]    Script Date: 3/18/2025 12:32:42 AM ******/
CREATE DATABASE [PolyTest_Database];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyTest_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyTest_Database]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[MaDe] [varchar](50) NOT NULL,
	[MaNguoiDung] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DanhSachThi] [nvarchar](max) NULL,
	[ViTriFileDe] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DETHI] PRIMARY KEY CLUSTERED 
(
	[MaDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaThi](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaThiSinh] [varchar](50) NOT NULL,
	[MaDe] [varchar](50) NOT NULL,
	[Diem] [float] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[DaHoanThanh] [bit] NULL,
 CONSTRAINT [PK__KETQUA__603FFF99B6751D10] PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__NGUOIDUN__603F51067C977F8B] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[MaThiSinh] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK__THISINH__6023720E6DB536DF] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__THISINH__161CF724694400F8] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__THISINH__A7FD94DB4E6836E9] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KetQuaThi] ADD  CONSTRAINT [DF__KETQUA__NGAYTHI__403A8C7D]  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_NguoiDung]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaThi_DeThi] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeThi] ([MaDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [FK_KetQuaThi_DeThi]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaThi_ThiSinh] FOREIGN KEY([MaThiSinh])
REFERENCES [dbo].[ThiSinh] ([MaThiSinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [FK_KetQuaThi_ThiSinh]
GO
ALTER TABLE [dbo].[KetQuaThi]  WITH CHECK ADD  CONSTRAINT [CK__KETQUA__DIEM__4316F928] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[KetQuaThi] CHECK CONSTRAINT [CK__KETQUA__DIEM__4316F928]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDeThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho DeThi
CREATE PROCEDURE [dbo].[sp_DeleteDeThi]
    @MaDe VARCHAR(50)
AS
BEGIN
    DELETE FROM [dbo].[DeThi]
		WHERE MaDe = @MaDe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKetQuaThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  StoredProcedure [dbo].[sp_DeleteNguoiDung]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_DeleteNguoiDung]
    @MaNguoiDung VARCHAR(50)
AS
BEGIN
DELETE FROM [dbo].[DeThi]
		WHERE MaNguoiDung = @MaNguoiDung;
    DELETE FROM [dbo].[NguoiDung]
		WHERE MaNguoiDung = @MaNguoiDung;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteThiSinh]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục xóa (DELETE) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_DeleteThiSinh]
    @MaThiSinh VARCHAR(50)
AS
BEGIN
    DELETE FROM [dbo].[ThiSinh]
    WHERE MaThiSinh = @MaThiSinh;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDeThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục thêm (INSERT) cho DeThi
CREATE PROCEDURE [dbo].[sp_InsertDeThi]
    @MaDe VARCHAR(50),
    @MaNguoiDung VARCHAR(50),
    @MatKhau VARCHAR(255),
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @TrangThai INT,
    @DanhSachThi NVARCHAR(MAX),
    @ViTriFileDe NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO [dbo].[DeThi] (MaDe, MaNguoiDung, MatKhau, ThoiGianBatDau, ThoiGianKetThuc, TrangThai, DanhSachThi, ViTriFileDe)
    VALUES (@MaDe, @MaNguoiDung, @MatKhau, @ThoiGianBatDau, @ThoiGianKetThuc, @TrangThai, @DanhSachThi, @ViTriFileDe);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertKetQuaThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục thêm (INSERT) cho KetQuaThi
CREATE PROCEDURE [dbo].[sp_InsertKetQuaThi]
    @MaThiSinh VARCHAR(50),
    @MaDe VARCHAR(50),
    @Diem FLOAT,
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @DaHoanThanh BIT
AS
BEGIN
    INSERT INTO [dbo].[KetQuaThi] (MaThiSinh, MaDe, Diem, ThoiGianBatDau, ThoiGianKetThuc, DaHoanThanh)
    VALUES (@MaThiSinh, @MaDe, @Diem, @ThoiGianBatDau, @ThoiGianKetThuc, @DaHoanThanh);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNguoiDung]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục thêm (INSERT) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_InsertNguoiDung]
    @MaNguoiDung VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @VaiTro NVARCHAR(10)
AS
BEGIN
    INSERT INTO [dbo].[NguoiDung] (MaNguoiDung, HoTen, Email, MatKhau, VaiTro)
    VALUES (@MaNguoiDung, @HoTen, @Email, @MatKhau, @VaiTro);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertThiSinh]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục thêm (INSERT) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_InsertThiSinh]
    @MaThiSinh VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @NgaySinh DATE,
    @SoDienThoai VARCHAR(15),
    @TrangThai INT
AS
BEGIN
    INSERT INTO [dbo].[ThiSinh] (MaThiSinh, HoTen, Email, MatKhau, NgaySinh, SoDienThoai, TrangThai)
    VALUES (@MaThiSinh, @HoTen, @Email, @MatKhau, @NgaySinh, @SoDienThoai, @TrangThai);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDeThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho DeThi
CREATE PROCEDURE [dbo].[sp_UpdateDeThi]
    @MaDe VARCHAR(50),
    @MaNguoiDung VARCHAR(50),
    @MatKhau VARCHAR(255),
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @TrangThai INT,
    @DanhSachThi NVARCHAR(MAX),
    @ViTriFileDe NVARCHAR(MAX)
AS
BEGIN
    UPDATE [dbo].[DeThi]
    SET 
        MaNguoiDung = @MaNguoiDung,
        MatKhau = @MatKhau,
        ThoiGianBatDau = @ThoiGianBatDau,
        ThoiGianKetThuc = @ThoiGianKetThuc,
        TrangThai = @TrangThai,
        DanhSachThi = @DanhSachThi,
        ViTriFileDe = @ViTriFileDe
    WHERE MaDe = @MaDe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateKetQuaThi]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho KetQuaThi
CREATE PROCEDURE [dbo].[sp_UpdateKetQuaThi]
    @MaKetQua INT,
    @MaThiSinh VARCHAR(50),
    @MaDe VARCHAR(50),
    @Diem FLOAT,
    @ThoiGianBatDau DATETIME,
    @ThoiGianKetThuc DATETIME,
    @DaHoanThanh BIT
AS
BEGIN
    UPDATE [dbo].[KetQuaThi]
    SET 
        MaThiSinh = @MaThiSinh,
        MaDe = @MaDe,
        Diem = @Diem,
        ThoiGianBatDau = @ThoiGianBatDau,
        ThoiGianKetThuc = @ThoiGianKetThuc,
        DaHoanThanh = @DaHoanThanh
    WHERE MaKetQua = @MaKetQua;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateNguoiDung]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho NguoiDung
CREATE PROCEDURE [dbo].[sp_UpdateNguoiDung]
    @MaNguoiDung VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @VaiTro NVARCHAR(10)
AS
BEGIN
    UPDATE [dbo].[NguoiDung]
    SET 
        HoTen = @HoTen,
        Email = @Email,
        MatKhau = @MatKhau,
        VaiTro = @VaiTro
    WHERE MaNguoiDung = @MaNguoiDung;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateThiSinh]    Script Date: 3/18/2025 12:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thủ tục cập nhật (UPDATE) cho ThiSinh
CREATE PROCEDURE [dbo].[sp_UpdateThiSinh]
    @MaThiSinh VARCHAR(50),
    @HoTen NVARCHAR(50),
    @Email VARCHAR(100),
    @MatKhau VARCHAR(255),
    @NgaySinh DATE,
    @SoDienThoai VARCHAR(15),
    @TrangThai INT
AS
BEGIN
    UPDATE [dbo].[ThiSinh]
    SET 
        HoTen = @HoTen,
        Email = @Email,
        MatKhau = @MatKhau,
        NgaySinh = @NgaySinh,
        SoDienThoai = @SoDienThoai,
        TrangThai = @TrangThai
    WHERE MaThiSinh = @MaThiSinh;
END
GO


--Truy vấn dữ liệu người dùng

CREATE PROC sp_DanhSachNguoiDung(@VaiTro NVARCHAR(10))  
AS BEGIN  
   SELECT *
   FROM NguoiDung  
   WHERE VaiTro = @VaiTro  
   ORDER BY HoTen  
END 


--Truy vấn dữ liệu thí sinh
CREATE PROC sp_DanhSachThiSinh(@TrangThai INT)  
AS 
BEGIN  
   SELECT *   FROM ThiSinh  
   WHERE TrangThai = @TrangThai  
   ORDER BY HoTen  
END 

--Truy vấn dữ liệu đề thi
CREATE PROC sp_DanhSachDeThi(@MaNguoiDung VARCHAR(50))  
AS BEGIN  
   SELECT *
   FROM DeThi  
   WHERE MaNguoiDung = @MaNguoiDung  
   ORDER BY ThoiGianBatDau DESC  
END 

--Truy vấn dữ liệu kết quả thi
CREATE PROC sp_BangDiem(@MaDe VARCHAR(50))  
AS BEGIN  
   SELECT *
   FROM KetQuaThi  
   WHERE MaDe = @MaDe  
   ORDER BY Diem DESC  
END 

